@charset "utf-8";
/* Estilos para impressora */
*{
    margin: 0;
    padding: 0;
}
html{
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.5em;
   line-height: 1.5em;/* espaçamento entre linhas */
}
menu{
    display: none;/* não sera exibido menu na impressão  */
}
article::after{
    content: " Esse artigo é da pagina Vitor.com" ;
}