@charset "UTF-8";
/* Configuração geral */
* {
    margin: 0;
    padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 79, 232) ;
    background-size: contain;/* ocupar a tela  */
    background-repeat: no-repeat;
} 
h1 {
    color: white;
    text-shadow: 2px 2px 0px  blue;
    padding: 10px;
}